.BadgeList {
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  grid-gap: 10px;
  display: grid;
  margin: auto auto 3rem;
  padding: 0px;
}

.Badge {
  border: black 1px solid;
}

/* .Badge-info {
  margin-bottom: 1rem;
} */

/* .Badge-buttons {

}  */

.Badge-image {
  height: auto;
  opacity: 0.2;
  width: 100%;
}

.Earned {
  height: auto;
  width: 100%;
  opacity: 1;
}

/* Needs to be applied to BadgeList.md &/or the badgelist in components > badges > badgelist */
/*
.BadgeList.javascript > img {
  filter: hue-rotate(30deg);
}

.BadgeList.react > img {
  filter: hue-rotate(60deg);
}

.BadgeList.cs > img {
  filter: hue-rotate(90deg);
}

.BadgeList.mobile > img {
  filter: hue-rotate(120deg);
}

.BadgeList.job > img {
  filter: hue-rotate(150deg);
}

.BadgeList.sa > img {
  filter: hue-rotate(180deg);
} */