.BadgeList {
  grid-template-columns: 1fr 1fr 1fr;
  /* width: calc(100% - 100px); */
  list-style: none;
  grid-gap: 10px;
  display: grid;
  margin: auto;
  padding: 0px;
}

.Badge {
  border: black 1px solid;
}

/* .Badge-info {
  margin-bottom: 1rem;
} */

/* .Badge-buttons {

}  */

.Badge-image {
  height: auto;
  opacity: 0.2;
  width: 100%;
}

.Earned {
  height: auto;
  width: 100%;
  opacity: 1;
}


/* Needs to be applied to BadgeList.md &/or the badgelist in components > badges > badgelist */
/* .badge-gallery {
  display: grid;
  width: 600px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
}

.badge-gallery > img {
  width: 100%;
}

.badge-gallery.javascript > img {
  filter: hue-rotate(30deg);
}

.badge-gallery.react > img {
  filter: hue-rotate(60deg);
}

.badge-gallery.cs > img {
  filter: hue-rotate(90deg);
}

.badge-gallery.mobile > img {
  filter: hue-rotate(120deg);
}

.badge-gallery.job > img {
  filter: hue-rotate(150deg);
}

.badge-gallery.sa > img {
  filter: hue-rotate(180deg);
} */