/*  src/Header/Header.css  */
.Header {
  background-color: var(--color-dark-grey);
  align-items: center;
  display: flex;
}

.nav-logo {
  margin-left: 1rem;
  width: 150px;
  height: auto;
}

.nav-items {
  margin-left: 1rem;
}

.nav-link {
  color: rgba(255, 255, 255, 0.835);
  display: inline-block;
  text-decoration: none;
  padding: 0.1em 1em;
  font-weight: bold;
}

.nav-link-active {
  border-bottom: 2px solid;
  color: #fff;
}
