/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 */

:root {
  --color-light-blue: #4BB1E4; /* *Limited use as an accent color */
  --color-medium-blue: #087CB8;
  --color-dark-blue: #0D4062;
  --color-faint-grey: #f5f6f8; /* *Only used for backgrounds */
  --color-light-grey: #DFDFDF; /* *Often used for borders */
  --color-grey: #87898C;
  --color-medium-grey: #4A4A4A;
  --color-dark-grey: #303030;
  --color-black: #000000; /* *Very limited use as an alternative font color. Never use as a background color, instead opt for Dark Grey or Medium Grey */
}

body {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: rgb(240, 253, 255);
  }

.container {
  width: calc(100% - 4rem);
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Needs to be applied to BadgeList.md &/or the badgelist in components > badges > badgelist */
.badge-gallery {
  display: grid;
  width: 600px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
}

.badge-gallery > img {
  width: 100%;
}

.badge-gallery.javascript > img {
  filter: hue-rotate(30deg);
}

.badge-gallery.react > img {
  filter: hue-rotate(60deg);
}

.badge-gallery.cs > img {
  filter: hue-rotate(90deg);
}

.badge-gallery.mobile > img {
  filter: hue-rotate(120deg);
}

.badge-gallery.job > img {
  filter: hue-rotate(150deg);
}

.badge-gallery.sa > img {
  filter: hue-rotate(180deg);
}