:root {
  --color-light-blue: #4BB1E4; /* *Limited use as an accent color */
  --color-medium-blue: #087CB8;
  --color-dark-blue: #0D4062;
  --color-faint-grey: #f5f6f8; /* *Only used for backgrounds */
  --color-light-grey: #DFDFDF; /* *Often used for borders */
  --color-grey: #87898C;
  --color-medium-grey: #4A4A4A;
  --color-dark-grey: #303030;
  --color-black: #000000; /* *Very limited use as an alternative font color. Never use as a background color, instead opt for Dark Grey or Medium Grey */
}

body {
  margin: 0;
  text-align: center;
  background-color: rgb(240, 253, 255);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Open Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
  width: calc(100% - 2rem);
  margin: 3rem 1rem 0 1rem;
}

#Footer {
  background-color: var(--color-dark-grey);
  color: rgba(255, 255, 255, 0.75);
  padding-bottom: 1em;
  position: absolute;
  height: 2.5rem;            /* Footer height */
  bottom: 0;
  width: 100%;
}

#Header {
  background-color: var(--color-dark-grey);
  align-items: center;
  display: flex;
  padding: 1rem 0;
}

#nav-logo {
  margin-left: 1rem;
  width: 150px;
  height: auto;
}

#nav-items {
  margin-left: 1rem;
}

.nav-link {
  color: rgba(255, 255, 255, 0.835);
  display: inline-block;
  text-decoration: none;
  padding: 0.1em 1em;
  font-weight: bold;
}

.nav-link-active {
  border-bottom: 2px solid;
  color: #fff;
}

.social-links {
  list-style: none;
}

/* .LandingPage, .NotFoundPage,
.PasswordForgetPage,
.SignUpPage, .SignInPage, .AccountPage,
.CreateBadgePage, .BadgeListPage, .BadgeDetailsPage {
  width: calc(100% - 2rem);
  margin: 3rem auto;
} */
