:root {
  --color-light-blue: #4BB1E4; /* *Limited use as an accent color */
  --color-medium-blue: #087CB8;
  --color-dark-blue: #0D4062;
  --color-faint-grey: #f5f6f8; /* *Only used for backgrounds */
  --color-light-grey: #DFDFDF; /* *Often used for borders */
  --color-grey: #87898C;
  --color-medium-grey: #4A4A4A;
  --color-dark-grey: #303030;
  --color-black: #000000; /* *Very limited use as an alternative font color. Never use as a background color, instead opt for Dark Grey or Medium Grey */
}

body {
  margin: 0;
  text-align: center;
  background-color: rgb(240, 253, 255);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Open Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.LandingPage, .NotFoundPage,
.SignUpPage, .SignInPage, .AccountPage,
.CreateBadgePage, .BadgeListPage, .BadgeDetailsPage {
  width: calc(100% - 4rem);
  margin: 3rem auto;
}

.social-links {
  list-style: none;
}